/*limit sizes of the devices*/ 
$mobile-width-limit: 600px;
$desktop-width-limit: 1024px;

$default-font: 16px;

$tablet-width: 100%;
$desktop-width: 100%;

html {height:100%;}
body {
    height:100%;
    margin: 0px;
    font-size: $default-font;
}
#container { 
    position: relative;
    margin: 0;
    min-height: 100%;
 }
 #content { 
    padding-bottom: 10rem;    /* Footer height */
 }

 #titre {
     font-size: 200%;
 }

 nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: rgb(42, 160, 95);
      }
      
 }

 #titreS {
    font-size: 150%;
    margin-top: 0%;
    text-align: center;
    position: relative;
    left: 50.5%;
    padding: 2%;
    width:45.5%;
}

#first
{
    #titreS {
        background-color: DodgerBlue;
        
    }
    background-color: #efefef;

}
#second
{
    #titreS {
        background-color: orange;
    }
    background-color: #efefef;

    
}
#third
{
    #titreS {
        background-color: Violet;
    }
    background-color: #efefef;
   /* padding: -2px;
    border-style: solid;
    border-width: 0.5px;*/
}
footer {
   
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #efefef;
    text-align: center;
    margin-top: 3%;
  }

/*Mobile*/
@media only screen and (max-width: $mobile-width-limit) {
    nav{
        li{
            float: none;
        }
    }
    #sections { 
        
        margin: 0%;
     }
    #first
    {  
       
        width:94%;
        margin: 3%;
       

    }
    #second
    {
        
        width:94%;
        margin: 0% 3%;
        
    }
    #third
    {
        width:94%;
        margin: 3%;
    }
}

/*Tablet*/
@media only screen and (min-width: $mobile-width-limit + 1) and (max-width: $desktop-width-limit - 1) {
    #sections { 
        
        margin: 0%;
     }
    #first
    {
        width:94%;
        margin: 3%;
       

    }
    #second
    {
        position: absolute;
        left: 0;
        width:45.5%;
        margin: 0% 3% 3% 3%;
        
    }
    #third
    {
        position: absolute;
        left: 51.5%;
        width:45.5%;
        margin: 0% 3% 3% 0%;
    }

    
}

/*Destock*/
@media only screen and (min-width: $desktop-width-limit) {
    #sections { 
        
        margin: 0%;
     }

    #first
    {
        position: absolute;
        left:0;
        width:29.33%;
        margin: 3%;
       

    }
    #second
    {
        position: absolute;
        left: 35.33%;
        width:29.33%;
        margin: 3% 0% 3% 0%;
        
    }
    #third
    {
        position: absolute;
        left: 35.33% + 29.33%;
        width:29.33%;
        margin: 3%;
    }
    #footer
    {
        position: absolute;
    }
}